%h1.tagline
  Armed with the world's greatest life hacks,
  %br
  Sir Hackalot conquers every day challenges!

.hack_definition
  .word
    Definition: hack
    %span.type
      noun
  %ol
    %li A clever solution to a tricky problem
    %li A shortcut, trick, or "pro's tip" to achieve a result


.right_half
  .section
    %h3 Random Hack

  .section
    %h3 Most Popular Hacks

.left_half
  .section
    %h3 Popular Categories

  .section
    %h3 Recently Added Hacks
