%h2 About mysixdegrees.me
%br
%p
  mysixdegrees.me is a crazy networking experiment created by
  = link_to("Irrational Design", "http://www.irrationaldesign.com", :target => "_blank")
  just to see what happens.


