.other_sites
  %h3 Enjoying mysixdegrees.me?
  %p You should check out some of the other sites I've built.
  %p
    For those looking to meet someone special:
    = link_to("The Matching Game >", "http://www.thematchinggame.com", :target => "_blank")
  %p
    For those trying to plan a wedding:
    = link_to("Wedding Mapper>", "http://www.weddingmapper.com", :target => "_blank")
  %p
    For those trying to achieve their goals:
    = link_to("Secret Goals >", "http://www.secretgoals.com", :target => "_blank")
  %p
    For those with a birthday:
    = link_to("Charity Birthday >", "http://www.charitybirthday.com", :target => "_blank")
